{% extends "base.html" %}
{% load i18n %}
{% block title %}
{% trans "My Courses" %}
{% endblock %}

{% block content %}
<div class="avatar alpha pull-left" onmouseover="show.style.display = 'block';", onmouseout="show.style.display = 'none';">
	    <img src="{{ STATIC_URL }}img/course.jpg" />
        </div>
<div class="span6 profileRows">
	<h2 class="profileHeading">My Courses<span class="pull-right">
        {% ifequal request.user.get_profile.role 'in' %}
            <a href="{% url 'add_new_course' %}" class="Edit"><i class="icon-plus"></i> Add</a>
        {% else %}
            <a href="{% url 'available_course' %}" class="Edit"><i class="icon-plus"></i> Add</a>
        {% endifequal %}

    </span></h2>
	{% if grades %} 	
        <ul>
	{% for grade in grades %}
            <li class="clearfix">
            <div class="span5 pull-left alpha">
		    <a href="{% url 'course' grade.course.id %}"><p><strong>{{ grade.course.title }}</strong></p></a>
		    <p class="smallText">{{ grade.course.description }}</p>
            </div>            
            </li>
	    <hr>
	{% endfor %}
          </ul>  
	  {% else %}
	<p class="smallText">You have no course added to your list. Click on the Add button to select a course.</p>
	  {% endif %}
	<div style="clear:both;"></div> 
	</div>

{% endblock %}


