{% extends "base.html" %}
{% load i18n %}
{% block title %}
{% trans "PDFs Available" %}
{% endblock %}

{% block content %}
 <div class="avatar alpha pull-left" onmouseover="show.style.display = 'block';", onmouseout="show.style.display = 'none';">
	    <img src="{{ STATIC_URL }}img/course.jpg" />
        </div>

<div class="span6 profileRows">
	<h2 class="profileHeading">PDF Files for {{ course.title }}
		<span class="pull-right">
            <a href="{% url 'add_pdf' course.id %}" class="Edit"><i class="icon-plus"></i> Add</a>
    	</span>
	</h2>
	<ul class="nav nav-tabs ml150" style="border-bottom:None;">
	  <li class="pull-left active"><a href="{% url 'course_pdf_list' course.id %}">PDF</a></li>
	  <li class="pull-left"><a href="{% url 'course_quiz_list' course.id %}">Quizzes</a></li>
	  <li class="pull-left"><a href="{% url 'course_forum_list' course.id %}">Forums</a></li>
	  <li class="pull-left"><a href="{% url 'course_video_list' course.id %}">Videos</a></li>
	</ul>

        <ul>
			<li class="clearfix">
            <div class="span5 pull-left alpha">
		    <a href="{{ STATIC_URL }}ConsentForm.pdf"><p><strong>Consent Form</strong></p></a>
		    <p class="smallText">This study will generate theoretical knowledge concerning the optimal application of video-based observational practice and educational networking approaches to simulation-based learning. It will also further develop, expand and improve the OPEN system. Finally this will expand our knowledge of simulation-based education and its impact in a distributed health profession education context.</p>
            </div>
            </li>
	    <hr>
	{% for pdf in pdfs %}
            <li class="clearfix">
            <div class="span5 pull-left alpha">
		    <a href="{% url 'view_file' course.id pdf.id %}"><p><strong>{{ pdf.title }}</strong></p></a>
		    <p class="smallText">{{ pdf.description }}</p>
            </div>            
            </li>
	    <hr>
	{% endfor %}           
          </ul>
 	
	<div style="clear:both;"></div> 
	</div>
{% endblock %}
