.alpha{margin-left:0 !important;}
.omega{margin-right:0 !important;}


.userLogin{text-align:right; padding-right:20px; margin-bottom:20px;}
.userLogin ul{list-style:none; }
.userLogin li{display:inline-block; margin:0 0 0 5px; }
.userLogin li a{font-size:11px; color:#333; padding:4px 6px; text-decoration:none; background-color:#e9e9e9;   -webkit-border-radius: 3px;
 -moz-border-radius: 3px; border-radius: 3px; border:1px solid #ccc;}
.userLogin li a:hover{text-decoration:underline;}


.accordion-inner ul{list-style:none; margin:0; color:#777;}
.accordion-inner li{display:block;}
.accordion-inner a{color:#777; text-decoration:none; font-size:12px;}
.accordion-inner a:hover{color:#C4161C; text-decoration:underline; }

.footer{font-size:11px; color:#777;}

#footernav{list-style:none; margin:0; }
#footernav li{display:inline-block; margin-right:10px;}
#footernav a{color:#777; font-size:11px;}
#footernav a:hover{color:#C4161C; text-decoration:underline;}

.small-text{font-size:11px; color:#777;}

.mb8 {margin-bottom:8px !important;}
.mb10 {margin-bottom:10px !important;}
.mb20 {margin-bottom:20px !important;}
.ml80 {margin-left:80px;}
.ml12 {margin-left:12px;}
.ml10 {margin-left:10px !important;}
.ml20 {margin-left:20px !important;}
.ml0 {margin-left:0px !important;}
.ml150 {margin-left:150px !important;}
.ml300 {margin-left:300px;}
.mt10 {margin-top:10px !important;}
.p0 {padding:0px !important;}
.qs-input {width:400px; height:25px !important;}

#rowHeight{min-height:560px;}
#searchbar{margin-left:225px; margin-top:-50px;}
#searchbar-input{width:608px; padding:6px;}
#searchbar-button{margin: 5px -5px 6px; padding: 7px 10px;}

.pcb-template{width:158px; height:185px; float:left; margin: 0 25px 25px 0;}
.pcb-container{margin: 7px 8px;}
.pcb-text{line-height: 14px; padding: 8px 0px; display: inline-block;}
.pcb-template ul{list-style:none; margin:0; padding:0;}
.pcb-template ul li{float:left; width:13px; height:13px;background-image:url('../img/glyphicons-halflings.png'); margin-right:7px;}
li.bars{background-position: 133px 109px;}
li.like{background-position: 373px 14px;}
li.download{background-position: 349px 134px;}
li.cart{background-position: 109px 38px;}

.userProfileInfo{}
.userProfileInfo p{margin:0;}
.userProfileInfo a{font-size:12px; color:#555;}


.divider-left {
  border-left: 1px solid #999999;
}

.span10 h2{font-size:20px; font-weight:700; color:#555; margin-bottom:10px;}

.error{color:#b94a48; font-size:11px;}

.userFroms{margin:10px 0;}

#formUpload {
    background: none repeat scroll 0 0 #EEF2F7;
    border: 1px solid #536376;
    display: none;
    padding: 14px 22px;
    position: relative;
}
.close-x{
    background-image:url(../img/close-x.png); 
    background-repeat:no-repeat;
    display: block;
    height: 23px;
    line-height: 1000px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 24px;
}

#terms {
    height:100px;
    width:450px;     
    overflow-y:scroll; 
    overflow-x:hidden;
}

.profileContent{}
.profileHeading{font-size:20px; font-weight:bold; color:#0672b3; border-bottom:1px solid #f4b800; margin-bottom:10px;}
.profileHeading a.Edit{font-size:12px; color:#555;}

.profileRows{margin-bottom:40px; color:#333;}
.profileRows p{margin:0;}
.profileRows p.smallText{font-size:11px; color:#777;}
.profileRows ul {list-style:none; margin:0;}
.profileRows li{margin:0 0 30px 0;}

.profileContacts{margin-bottom:30px;}
.profileContacts ul{list-style:none; margin:5px 0 0 0;}
.profileContacts li {line-height:30px; clear:both; }

.caption{float:left; display:block; width:85px; font-size:12px;}
.details{float:left; display:block; margin-left:10px; font-size:12px;}

.course-icon{background-image:url("../img/course-Icon.png"); background-position:1px 1px; background-repeat:no-repeat; padding-left:30px;}
.profile-icon{background-image:url("../img/profile-Icon.png"); background-position:1px 1px; background-repeat:no-repeat; padding-left:30px;}
.performance-icon{background-image:url("../img/performance-Icon.png"); background-position:1px 1px; background-repeat:no-repeat; padding-left:30px;}

#regForm{margin: 0 0 0 -50px;}

.documentsInfo{margin-left:10px; font-size:12px; float:left; display:block;}
.documentsInfo p{margin:0; line-height:16px;}
.documentsInfo a{color:#555;}
.documentsInfo a.smallText{font-size:11px; color:#777;}

#comment {
    width:80%;
}

.pCaption{float:left; display:block; width:250px; font-size:12px;}
.pDetails{float:left; display:block; margin-left:10px; font-size:12px;}