{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block title %}
{% trans "Edit Profile" %}
{% endblock %}

{% block content %}

 <h2>Complete your user profile</h2>

 {% if form.errors %}
  <p class="error">Please correct the errors below: {{ form.non_field_errors }}</p>
 {% endif %}

  <div class="avatar alpha pull-left" onmouseover="show.style.display = 'block';", onmouseout="show.style.display = 'none';">
	{% if request.user.get_profile.avatar %}
	    <a href="#">{% thumbnail request.user.get_profile.avatar "120x120" crop="center" as avatar %}<img src="{{ avatar.url }}" height={{ avatar.height }} width={{ avatar.width }}/>{% endthumbnail %}</a>
	    {% else %}
	    <a href="#"><img src="{{ STATIC_URL }}img/blank-avatar.png" /></a>
    	{% endif %}
  </div>

  <div class="span5" id="regForm">
  <form enctype="multipart/form-data" method="POST" action="{% url 'registration' %}" class="form-horizontal" name="UserProfileForm">
	{% csrf_token %}

    <div class="control-group">
      <label class="control-label" for="id_avatar">Avatar</label>
      <div class="controls">
	      {{ form.avatar }}
	      {% if form.avatar.errors %}
        <p class="error">{{ form.avatar.errors.as_text }}</p>
      {% endif %}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="id_address">Address</label>
      <div class="controls">
      {{ form.address }}
      {% if form.address.errors %}
        <p class="error">{{ form.address.errors.as_text }}</p>
      {% endif %}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="id_country">Country</label>
      <div class="controls">
      {{ form.country }}
      {% if form.country.errors %}
        <p class="error">{{ form.country.errors.as_text }}</p>
      {% endif %}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="id_city">City</label>
      <div class="controls">
      {{ form.city }}
      {% if form.city.errors %}
        <p class="error">{{ form.city.errors.as_text }}</p>
      {% endif %}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="id_phone">Phone</label>
      <div class="controls">
      {{ form.phone }}
      {% if form.phone.errors %}
        <p class="error">{{ form.phone.errors.as_text }}</p>
      {% endif %}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="id_dob">Date of Birth</label>
      <div class="controls">
      {{ form.date_of_birth }}
      {% if form.date_of_birth.errors %}
        <p class="error">{{ form.date_of_birth.errors.as_text }}</p>
      {% endif %}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="id_website">Web site</label>
      <div class="controls">
      {{ form.website }}
      {% if form.website.errors %}
        <p class="error">{{ form.website.errors.as_text }}</p>
      {% endif %}
      </div>
    </div>

    <div class="control-group">
	<div class="controls">
		<button type="submit" class="btn">Done</button>
	</div>
    </div>
  </form>
  </div>
{% endblock %}
