{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block title %}
{% trans "My Profile" %}
{% endblock %}
{% block content %}

 <div class="profile">
    <div class="container">
 	    <div class="span8 alpha">
            <div class="avatar alpha pull-left" onmouseover="show.style.display = 'block';", onmouseout="show.style.display = 'none';">

	{% if userprofile.avatar %}
    		{% thumbnail userprofile.avatar "120x120" crop="center" as avatar %}<img src="{{ avatar.url }}" height={{ avatar.height }} width={{ avatar.width }}/>{% endthumbnail %}
    	{% else %}
    		<img src="{{ STATIC_URL }}img/blank-avatar.png" />
	{% endif %}

        </div>

    <div class="span6 profileRows">
	    <h2 class="profileHeading"><i class="profile-icon"></i> My Profile<span class="pull-right"><a href="{% url 'registration_register' %}" class="Edit"><i class="icon-pencil"></i> Edit</a></span></h2>
        	
            <div class="profileContacts">
            <div class="caption"><strong>Address:</strong></div>
	    {% if userprofile.address %}
	    <div class="details">{{ userprofile.address }}</div> 
            {% else %}
	    <div class="details">None</div>
	    {% endif %}
            <br />

            <ul class="pull-left clearfix">
            <li>
            <div class="caption"><strong>City:</strong></div>
	    {% if userprofile.city %}	    
            <div class="details">{{ userprofile.city }}</div>
	    {% else %}
	    <div class="details">None</div>
	    {% endif %}	    
            </li>
            
            <li>
            <div class="caption"><strong>Phone:</strong></div>
	    {% if userprofile.phone %}
            <div class="details">{{ userprofile.phone }}</div>
	    {% else %}
	    <div class="details">None</div>
	    {% endif %}
            </li>
            
            <li>
            <div class="caption"><strong>Date of Birth:</strong></div>
	    {% if userprofile.date_of_birth %}	    
            <div class="details">{{ userprofile.date_of_birth }}</div>            
	    {% else %}
	    <div class="details">None</div>
	    {% endif %}
            </li>
            
            <li>
            <div class="caption"><strong>Website</strong></div>
	    {% if userprofile.website %}
            <div class="details"><a href="{{ userprofile.website }}">{{ userprofile.website }}</a></div>            
	    {% else %}
	    <div class="details">None</div>
	    {% endif %}
            </li>
            
            </ul>
            
            
            <ul class="pull-right clearfix">
            <li>
            <div class="caption"><strong>Country:</strong></div>
	    {% if userprofile.country %}	    
	    <div class="details">{{ userprofile.country.name }}</div>            
	    {% else %}
	    <div class="details">None</div>
	    {% endif %}
            </li>
            <li>
            <div class="caption"><strong>E-mail:</strong></div>
	    {% if userprofile.user.email %}
	    <div class="details">{{ userprofile.user.email }}</div>            
	    {% else %}
	    <div class="details">None</div>
	    {% endif %}
            </li>
            </ul>
            

        <div style="clear:both;"></div> 
	</div>
	 <div class="profileRows">
		 <h2 class="profileHeading"><i class="course-icon"></i> My Courses<span class="pull-right">
             {% ifequal userprofile.role 'in' %}
             <a href="{% url 'add_new_course' %}" class="Edit"><i class="icon-plus"></i> Add</a>
             {% else %}
             <a href="{% url 'available_course' %}" class="Edit"><i class="icon-plus"></i> Add</a>
             {% endifequal %}
         </span></h2>
	{% if grades %}
	<ul>
	    {% for grade in grades %}
            <li class="clearfix">
            <div class="span5 pull-left alpha">
		    <a href="{% url 'course' grade.course.id %}"><p><strong>{{ grade.course.title }}</strong></p></a>
		    <p class="smallText">{{ grade.course.description }}</p>
            </div>            
            </li>
            {% endfor %}
            
          </ul>  
	  {% else %}
	<p class="smallText">You have no course added to your list.</p>
	  {% endif %}
	 </div>


      </div>
</div>
        </div>
     </div>
	
   {% endblock %}
